<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .p{
        border: 3px solid rgb(255, 107, 131);
        height: 200px;
        width: 400px;
        text-align: center;
        vertical-align: auto;
        margin: auto;
        line-height: 200px;
        font-size: 40px;
    }
</style>
<body>
    <div class="p">
        수정 완료!
        <input type="button" value="확인" onclick="history.back">
    </div>
</body>
</html>