<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/ListLayout :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>레시피 목록</title>
    <link href="/css/recipeList.css" rel="stylesheet">
</head>
<body>
<div id="recipeList" class="recipe-list">
    <!-- 예제 레시피 항목들 -->
    <div class="recipe-item">
        <img src="/img/img.jpg" alt="Food Image"/>
        <a href="/recipes/1" class="recipe-title">레시피 이름1</a>
        <p class="description-preview">레시피 설명 미리보기1...</p>
    </div>
    <div class="recipe-item">
        <img src="/img/img_1.jpg" alt="Food Image"/>
        <a href="/recipes/2" class="recipe-title">레시피 이름2</a>
        <p class="description-preview">레시피 설명 미리보기2...</p>
    </div>
    <div class="recipe-item">
        <img src="/img/img_2.jpg" alt="Food Image"/>
        <a href="/recipes/3" class="recipe-title">레시피 이름3</a>
        <p class="description-preview">레시피 설명 미리보기3...</p>
    </div>
    <div class="recipe-item">
        <img src="/img/img_3.jpg" alt="Food Image"/>
        <a href="/recipes/4" class="recipe-title">레시피 이름4</a>
        <p class="description-preview">레시피 설명 미리보기4...</p>
    </div>
    <div class="recipe-item">
        <img src="/img/img_4.png" alt="Food Image"/>
        <a href="/recipes/5" class="recipe-title">레시피 이름5</a>
        <p class="description-preview">레시피 설명 미리보기5...</p>
    </div>
    <div class="recipe-item">
        <img src="/img/img_5.png" alt="Food Image"/>
        <a href="/recipes/6" class="recipe-title">레시피 이름6</a>
        <p class="description-preview">레시피 설명 미리보기6...</p>
    </div>
    <!-- 필요에 따라 더 많은 레시피 항목을 추가 -->
</div>
</body>
    </th:block>
</th:block>
</html>




